<!DOCTYPE html>
<html>
<head>
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}   
a {
  overflow: hidden;
  background-color: #333;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

a.active {
  background-color: #04AA6D;
  color: white;
}
</style>
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<center><h1>Welcome to Banks Mortgage Calculator!</h1></center>
<h2>Navigation:</h2>
<p><a href="/banks">View all Banks</a></p>
<p><a href="/addbank">Add a Bank</a></p>
<p><a href="/editbank">Edit a Bank</a></p>
<p><a href="/deletebank.html">Delete a Bank</a></p>

</body>
</html> 