<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<center><h1>Welcome to Banks Mortgage Calculator!</h1></center>
<h2>Navigation:</h2>
<p><a href="/banks">View all Banks</a></p>
<p><a href="/addbank.html">Add a Bank</a></p>
<p><a href="/editbank.html">Edit a Bank</a></p>
<p><a href="/deletebank.html">Delete a Bank</a></p>

</body>
</html> 